@media screen and (max-width: 768px){
    body {
        padding-top: 50px;
    }
}

/*
 .navbar {
    background: -webkit-linear-gradient(left, rgba(25,25,139,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
/*    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(25,25,139,1)); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(to right, rgba(255,0,0,0), rgba(25,25,139,1)); /* Standard syntax (must be last) */
/*}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}*/
